<div class = 'middle'>
  <h2>Users</h2>
  <p >
    <% @users.each do |user| %>
      <% if user.id != 1 %>
        <br>
        <br>
        <% if current_user == nil %>
          <%=image_tag user.photo %> 
        <% else %>
          <%= link_to user do %>
            <%=image_tag user.photo, class: 'user_index_photo' %> 
          <% end %>
        <% end %>
          <br>
          <%= user.username %>
        <% end %>
      <% end %>
      <br>
      <br>
  </p>
</div>
