<div class = 'middle'>
  <h2>Users</h2>
  <p>
    <% @users.each do |user| %>
      <br>
      <% if current_user == nil %>
        <%=image_tag user.photo %> 
      <% else %>
        <%= link_to user do %>
          <%=image_tag user.photo %> 
        <% end %>
      <% end %>
      <br>
      <%= user.username %> 
      <br>
      <% end %>
      <br>
      <br>
  </p>
</div>
