<table >
  <tr>
    <td><a href="#"><div></div></a></td>
    <td><a href="#"><div></div></a></td>
    <td><a href="#"><div></div></a></td>
  </tr>
  <tr>
    <td><a href="#"><div></div></a></td>
    <td><a href="#"><div></div></a></td>
    <td><a href="#"><div></div></a></td>
  </tr>
  <tr>
    <td><a href="#"><div></div></a></td>
    <td><a href="#"><div></div></a></td>
    <td><a href="#"><div></div></a></td>
  </tr>
</table>


