<table >
  <tr>
    <td><a href="/games/moves"><div id = "a1"></div></a></td>
    <td><a href="/games/moves"><div id = "a2"></div></a></td>
    <td><a href="/games/moves"><div id = "a3"></div></a></td>
  </tr>
  <tr>
    <td><a href="/games/moves"><div id = "b1"></div></a></td>
    <td><a href="/games/moves"><div id = "b2"></div></a></td>
    <td><a href="/games/moves"><div id = "b3"></div></a></td>
  </tr>
  <tr>
    <td><a href="/games/moves"><div id = "c1"></div></a></td>
    <td><a href="/games/moves"><div id = "c2"></div></a></td>
    <td><a href="/games/moves"><div id = "c3"></div></a></td>
  </tr>
</table>


