/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 table {
     border-collapse: collapse;
     align: center;
 } 

td {
     border: 1px solid black;
 }

 img{
  height: 50px;
  width: 50px;
 }

.letter {
  height: 30%;
  width: 30%;
  border: 1px solid black;
  display: inline-block;
 }

 .letter a {
  width: 100%;
  visibility: hidden;
 }

.board{
  width: 300px;
  height: 300px;

}


/* body {
     background-image: url('polka-10-10.png');
     background-repeat: repeat-x-y;
 }
*/
