// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.profile_photo{
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 2px dotted rgb(28, 106, 176);
}

.user_info{
  float: left;
  padding-right: 40px;
}

.user_games{
  float: left;
}

